@import '../color-style.scss';
.distance{
    margin: 60px 0;
    .top_block{
        p{
            font-size: 26px;
            opacity: .8;
            margin-bottom: 30px;
        }
    }
    
    .link{
        a{
            text-decoration: none;
            font-size: 11px;
            line-height: 21px;
            color: $black-color;
            opacity: .7;
        }
        a:hover{
            color: $base-color;
        }
    }

    .image-div{
        width: 25%;
        padding: 25px;
        border: 1px solid #80808038;
        img{
            width: 100%;
        }

        .title{
            margin-top: 20px;
            a{
                text-decoration: none;
                color: black;
                opacity: .8;
                font-size: 17px;
                line-height: 25px;
            }
            a:hover{
                color: $base-color
            }
         
        }
    }
    .image-div:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}
