<div class="d-flex justify-content-between teassers font">
    <div class="items">
        <i class="fa-solid fa-truck"></i>
        <div>Быстрая доставка</div>
        <div class="description">
            Бережно доставляем товары <br> по всей России
        </div>
    </div>
    <div class="items">
        <i class="fa-solid fa-user-clock"></i>
        <div>Клиентский сервис</div>
        <div class="description">
            Отвечаем на вопросы покупателей <br> в течение 10 минут
        </div>
    </div>
    <div class="items">
        <i class="fa-solid fa-gift"></i>
        <div>Бонусы за покупки</div>
        <div class="description">
            Дарим подарки и скидки <br> всем покупателям
        </div>
    </div>
    <div class="items">
        <img src="../../../assets/images/about/certificate.png" alt="certificate">
        <div>Гарантия качества</div>
        <div class="description">
            Соответствуем требованиям и стандартам <br> качества
        </div>
    </div>
</div>