<header>
    <div class="container d-flex justify-content-between">
        <div>
            <ul class="navigation d-flex">
                <li>
                    <a href="#">О нас</a>
                </li>
                <li>
                    <a href="#">Программа лоялности</a>
                </li>
                <li>
                    <a href="#">Сотрудничество</a>
                </li>
                <li>
                    <a href="#">Доставка</a>
                </li>
                <li>
                    <a href="#">Оплата</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </div>
        <div>
            <i class="fa-regular fa-circle-user color"></i>
            <button class="color btn">ВОЙТИ</button>
        </div>
    </div>
  </header>
  