.icons{
    ul{
        li{
            list-style-type: none;
            width: 15%;
            padding: 50px 0px;
        }
        li:first-child{
            padding-left: 70px;
        }
    }
}