.justify-content-between{
    justify-content: space-between;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.d-none{
    display: none;
}
.wrap{
    flex-wrap: wrap;
}
.align-items-baseline{
    align-items: baseline;
}
.align-items-start{
    align-items: flex-start;
}