<div class="distance">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="top_block">
                <p class="font">
                    О нас пишут
                </p>
            </div>
            <div class="d-flex message">
                <div class="link">
                    <i class="fa-regular fa-message"></i>
                    <a href="#" class="font">ОСТАВИТЬ ОТЗЫВ</a>
                </div>
                <div class="link">
                    <a href="#" class="font">ВСЕ ОТЗЫВЫ</a>
                </div>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-between comments">
                <div class="arrow-color">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="about-user">
                    <div>
                        <div class="div-radius font">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex align-items-start">
                                    <img src="../../../assets/images/messages/image1.png" alt="">
                                    <div class="data">
                                        <p>26 октября 2017</p>
                                        <p class="name">Татьяна</p>
                                    </div>
                                </div>
                                <div>
                                    <i class="fa-solid fa-star star"></i>
                                    <i class="fa-solid fa-star star"></i>
                                    <i class="fa-solid fa-star star"></i>
                                    <i class="fa-solid fa-star star"></i>
                                    <i class="fa-solid fa-star star"></i>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="result font">
                        Заказала бритву и лезвия. Муж доволен подарком) Отдельное спасибо консультанту Ольге, 
                        помогла с оформлением заказа. Доставка быстрая, упаковано хорошо.
                    </div>

                    <div class="btn-div">
                        <button>
                            Отзыв полностью
                        </button>
                    </div>
                </div>
                <div class="arrow-color">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>    
        </div>
    </div>
</div>