<div class="container d-flex justify-content-between padding">
    <div class="d-flex align-items-center">
        <div  class="phonne-number">
            <i class="fa-solid fa-phone icon grey-color"></i>
            <a href="tel:88005555124">8 (800) 555-51-24</a>
        </div>
        <div class="sort-down">
            <i class="fa-solid fa-sort-down"></i>
        </div>
    </div>
    
    <div>
        <a href="#" class="logo">
            <img src="../../../assets/images/logo/logo.png" alt="logo">
        </a>
    </div>
    <div class="search font">
        <i class="fa-solid fa-magnifying-glass grey-color"></i>
        <span class="grey-color">Поиск</span>
    </div>
</div>