<div>
    <div>
        <ul class="navigation d-flex justify-content-evenly">
            <li>
                <a href="#">
                    <i class="fa-sharp fa-solid fa-bolt"></i>
                    Акции
                </a>
            </li>
            <li>
                <a href="#">
                    Идеи подарков
                </a>
            </li>
            <li>
                <a href="#">
                    
					Бритвы и аксессуары								
                </a>
            </li>
            <li>
                <a href="#">
                    Косметика для бритья
                </a>
            </li>
            <li>
                <a href="#">
                    Уход за бородой и усами	
                </a>
            </li>
            <li>
                <a href="#">
                    Уход за лицом и телом
                </a>
            </li>
        </ul>
    </div>
</div>